<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
     <add name="SSRSTransactionDevEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.245.115.61;initial catalog=SSRSTransactionDev;user id=adminhoang;password=topica@123hoangnl2vuinv;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>

    <add key="EmailSender" value="transfer.online@topica.edu.vn" />
    <add key="MailServerIp" value="smtp.gmail.com" />
    <add key="EmailUserName" value="transfer.online@topica.edu.vn" />
    <add key="EmailPassword" value="topica@123" />
    <add key="MailServicePort" value="587" />
    <add key="EnableSSL" value="true" />
    <add key="ScanInterval" value="0.1" />
  </appSettings>

</configuration>